* {
    box-sizing: border-box;
    /* color: #FFF; */
    font-family: Roboto;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    /* background: #cad1dc; */
}